$button-color: #464B90;
$btn-text-color: #FFFFFF;
$hover-color: #3b4476;
$active-color: #2c3657;
$text-color: #656874;
$background-color: #F5F5F5;
$font-family: 'Gothic A1', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-section {
  background-color: $background-color;
  margin: 0;

  &__inner-container {
    padding: 44px 0 60px;

    @media (min-width: 1024px) {
      padding: 80px 10% 148px;
    }
  }

  &__title {
    font-family: $font-family;
    font-size: 26px;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: $text-color;

    @media (min-width: 1024px) {
      font-size: 42px;
      line-height: 48px;
      margin-bottom: 60px;
    }
  }

  &__product-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    list-style-type: none;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 118px;
    }
  }

  &__product-item {
    width: 100%;
    text-align: center;
  }

  &__product-link {
    display: block;
    text-decoration: none;
  }

  &__product-image {
    display: block;
    width: 100%;
    height: auto;

    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.1);
    }
  }

  &__product-title {
    font-family: $font-family;
    font-size: 22px;
    font-weight: 700;
    line-height: 42px;
    margin: 30px 0 10px;
    color: $text-color;
  }

  &__add-to-cart-btn {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 18px 80px;
    border-radius: 40px;
    background-color: $button-color;
    color: $btn-text-color;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $active-color;
    }
  }

  &__no-products-message {
    font-family: $font-family;
    font-size: 22px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin: 30px 0 10px;
    color: $text-color;
  }
}
